In [1]:
import pandas as pd
df=pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
x=df[['sepal_length','sepal_width','petal_length','petal_width']]
y=df[['species']]
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [27]:
x_train

    sepal_length  sepal_width  petal_length  petal_width
62           6.0          2.2           4.0          1.0
23           5.1          3.3           1.7          0.5
26           5.0          3.4           1.6          0.4
48           5.3          3.7           1.5          0.2
2            4.7          3.2           1.3          0.2
..           ...          ...           ...          ...
71           6.1          2.8           4.0          1.3
12           4.8          3.0           1.4          0.1
50           7.0          3.2           4.7          1.4
7            5.0          3.4           1.5          0.2
70           5.9          3.2           4.8          1.8

[120 rows x 4 columns]

In [28]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
38            4.4          3.0           1.3          0.2
66            5.6          3.0           4.5          1.5
115           6.4          3.2           5.3          2.3
117           7.7          3.8           6.7          2.2
89            5.5          2.5           4.0          1.3
136           6.3          3.4           5.6          2.4
68            6.2          2.2           4.5          1.5
94            5.6          2.7           4.2          1.3
84            5.4          3.0           4.5          1.5
28            5.2          3.4           1.4          0.2
90            5.5          2.6           4.4          1.2
11            4.8          3.4           1.6          0.2
40            5.0          3.5           1.3          0.3
126           6.2          2.8           4.8          1.8
79            5.7          2.6           3.5          1.0
144           6.7          3.3           5.7          2.5
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
76            6.8          2.8           4.8          1.4
59            5.2          2.7           3.9          1.4
132           6.4          2.8           5.6          2.2
105           7.6          3.0           6.6          2.1
53            5.5          2.3           4.0          1.3
17            5.1          3.5           1.4          0.3
64            5.6          2.9           3.6          1.3
18            5.7          3.8           1.7          0.3
13            4.3          3.0           1.1          0.1
116           6.5          3.0           5.5          1.8
9             4.9          3.1           1.5          0.1
81            5.5          2.4           3.7          1.0

In [29]:
y_train

       species
62  versicolor
23      setosa
26      setosa
48      setosa
2       setosa
..         ...
71  versicolor
12      setosa
50  versicolor
7       setosa
70  versicolor

[120 rows x 1 columns]

In [13]:
y_test

        species
38       setosa
66   versicolor
115   virginica
117   virginica
89   versicolor
136   virginica
68   versicolor
94   versicolor
84   versicolor
28       setosa
90   versicolor
11       setosa
40       setosa
126   virginica
79   versicolor
144   virginica
123   virginica
124   virginica
76   versicolor
59   versicolor
132   virginica
105   virginica
53   versicolor
17       setosa
64   versicolor
18       setosa
13       setosa
116   virginica
9        setosa
81   versicolor

In [16]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred=dtc.predict(x_test)
y_pred

array(['setosa', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'virginica', 'setosa', 'setosa',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'setosa', 'versicolor'],
      dtype=object)

In [17]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
acc=accuracy_score(y_test,y_pred)
print('Accuracy:',acc)

Accuracy: 0.7333333333333333

In [30]:
cm=confusion_matrix(y_test,y_pred)
print('classification matrix: \n',cm)

classification matrix:
 [[ 8  0  0]
 [ 0 10  2]
 [ 0  2  8]]

In [19]:
cr=classification_report(y_test,y_pred)
print('classification_report\n',cr)

classification_report
               precision    recall  f1-score   support

      setosa       0.89      1.00      0.94         8
  versicolor       0.67      0.67      0.67        12
   virginica       0.67      0.60      0.63        10

    accuracy                           0.73        30
   macro avg       0.74      0.76      0.75        30
weighted avg       0.73      0.73      0.73        30

In [22]:
from sklearn.svm import SVC
svc=SVC(kernel='linear',random_state=0)
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
y_pred

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['setosa', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'virginica', 'virginica', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'setosa', 'versicolor'],
      dtype=object)

In [31]:
acc2=accuracy_score(y_test,y_pred)
print('Accuracy:',acc2)

Accuracy: 0.8666666666666667

In [24]:
cm2=confusion_matrix(y_test,y_pred)
print('classification matrixL: \n',cm2)

classification matrixL:
 [[ 8  0  0]
 [ 0 10  2]
 [ 0  2  8]]

In [25]:
cr2=classification_report(y_test,y_pred)
print('classification_report\n',cr2)

classification_report
               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00         8
  versicolor       0.83      0.83      0.83        12
   virginica       0.80      0.80      0.80        10

    accuracy                           0.87        30
   macro avg       0.88      0.88      0.88        30
weighted avg       0.87      0.87      0.87        30